# Introduction, Data Types, and Variables

## Integers

In [1]:
print (131517192123252729+2)

131517192123252731

In [2]:
print(1)
print(type(10))

1
<class 'int'>

## Floating

In [5]:
print(3.1)
print(.1)
print(.5e7)
print(3.5e-2)
print(type(.5))

3.1
0.1
5000000.0
0.035
<class 'float'>

## String

In [5]:
print("Senja Kalianget x Pink sunset")
print(type("Senja Kalianget x Pink sunset"))

Senja Kalianget x Pink sunset
<class 'str'>

## Boolean

In [9]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [10]:
n = 300

In [11]:
print (n)

300

In [12]:
n

300

In [13]:
n = 400
print(n)

400

In [14]:
n

400

In [15]:
a = b = c = 300

In [16]:
print(a,b,c)

300 300 300

## Variable Types

In [17]:
var = 23,5
print (var)

var = "Now I'm a string"
print (var)

(23, 5)
Now I'm a string

## Variable Names

In [19]:
name = "Jefl5"
age = 21
has_laptops = True
print(name, age, has_laptops)

#tidak boleh diawali dengan angka
#python supersensitive terhadap lowercase and uppercase

Jefl5 21 True

In [20]:
a = 10
b = 20
a+b

30

In [21]:
a-b

-10

## Operator Aritmatika

In [22]:
a = 4
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [27]:
a = int(input("Masukan nilai a = "))
b = int(input("Masukan nilai b = "))
print(a+b)
print(a - b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

Masukan nilai a = 8
Masukan nilai b = 9
17
-1
72
0.8888888888888888
8
134217728

## Operator Perbandingan

In [28]:
a = input("Masukan nilai a =")
b = input("Masukan nilai b =")
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

Masukan nilai a =7
Masukan nilai b =9
False
True
True
False

## Manipulasi String

In [6]:
a = 'boo'
b = 'coo'
c = 'oor'

In [14]:
print(a + b + c)
print(b+c)
print('Pink Sunset x Kalianget')
print(a*4,"hooo")

boocoooor
coooor
Pink Sunset x Kalianget
booboobooboo hooo

In [17]:
a = 'boo'

print(a in 'Boobooho berambut pendek')
print(a in 'cocomelon tontonan bocil')

True
False

In [18]:
s = 'Senja di kAliaget'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Senja di kaliaget
senja di kaliaget
sENJA DI KaLIAGET
Senja Di Kaliaget
SENJA DI KALIAGET

## Python Lists

In [19]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

### ordered list

In [20]:
a = ['baa', 'bii' ,'buu', 'bee', 'boo']
b = ['caa', 'cii' ,'cuu', 'cee', 'coo']
a == b

False

### list contain arbitrary objects

In [21]:
a =[21.42, 'cacing', 3, 5, 'ayam', False, 3.23422]
print(a)

[21.42, 'cacing', 3, 5, 'ayam', False, 3.23422]

### Acces by Index

In [27]:
a = ['caa', 'cii', 'cuu', 'cee', 'coo']
print(a[0])
print(a[-1])
print(a[0:5])
print(a[-5:-1])
print(a* 2)
print(a + ['cireng', 'cilok'])

caa
coo
['caa', 'cii', 'cuu', 'cee', 'coo']
['caa', 'cii', 'cuu', 'cee']
['caa', 'cii', 'cuu', 'cee', 'coo', 'caa', 'cii', 'cuu', 'cee', 'coo']
['caa', 'cii', 'cuu', 'cee', 'coo', 'cireng', 'cilok']

In [28]:
print(a)
print(len(a))
print(min(a))
print(max(a))

['caa', 'cii', 'cuu', 'cee', 'coo']
5
caa
cuu

## Modifikasi Nilai Single List

In [35]:
print (a)

['caa', 10, 90, 'cee', 'coo']

In [37]:
a[1]=10
a[-3]=90

print(a)

['caa', 10, 90, 'cee', 'coo']

## Modifikasi Nilai Multiple list

In [38]:
print (a)

['caa', 10, 90, 'cee', 'coo']

In [41]:
a [1:5] = [1.1, 2.2, 3.3, 4.4]
print(a)

['caa', 1.1, 2.2, 3.3, 4.4]

## Python Tuples

In [43]:
t = ('boo', 'coo', 'doo', 'foo', 'goo', 'hoo')
print(t)

('boo', 'coo', 'doo', 'foo', 'goo', 'hoo')

In [45]:
(a, b, c, d)=('boo','coo','doo','foo')
print(d)

foo

## Python Dictionary

### Defining a dictionary

In [48]:
Putih_team = {
    'merah':'berani',
    'kuning':'indah',
    'biru':'tegas',
    'Hitam':'kokoh'
}

In [51]:
print(Putih_team['biru'])
print(Putih_team['Hitam'])

tegas
kokoh

In [52]:
Putih_team['hijau']='makmur'

In [53]:
Putih_team

{'merah': 'berani',
 'kuning': 'indah',
 'biru': 'tegas',
 'Hitam': 'kokoh',
 'hijau': 'makmur'}

In [54]:
del(Putih_team['hijau'])

In [55]:
Putih_team

{'merah': 'berani', 'kuning': 'indah', 'biru': 'tegas', 'Hitam': 'kokoh'}

### Building a Dictionary

In [61]:
person={}
type(person)

person['namad']='Jef'
person['namab']='Nuur'
person['umur']= 21
person['brother']=['Angga','Hadid']
person['hate']=['cat','dog', 'snake']
person['love']=['food','sunset']

In [62]:
person

{'namad': 'Jef',
 'namab': 'Nuur',
 'umur': 21,
 'brother': ['Angga', 'Hadid'],
 'hate': ['cat', 'dog', 'snake'],
 'love': ['food', 'sunset']}

In [69]:
d = {'a':8, 'b':9, 'c': 10}
print(d.items)
print(d.keys)
print(d.values)

<built-in method items of dict object at 0x7fefc0633e00>
<built-in method keys of dict object at 0x7fefc0633e00>
<built-in method values of dict object at 0x7fefc0633e00>

## Python Statements

In [70]:

print('Hello, Jeff!!!')
x = 5, 6, 7, 9
print(x)

Hello, Jeff!!!
(5, 6, 7, 9)

In [71]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [72]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True

# DONE