In [1]:
x = 0
y = 5

if x < y:                            
    print('yes')

if y < x:                            
    print('yes')

if x:                                
    print('yes')

if y:                                
    print('yes')

if 'aul' in 'grault':                
    print('yes')

yes
yes
yes

In [3]:
if 'foo' in ['bar','baz','qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [4]:
if 'foo' in ['foo', 'bar', 'baz']:      
    print('Outer condition is true')
    if 10 > 20:                       
        print('Inner condition 1')        
    print('Between inner conditions')
    if 10 < 20:                   
        print('Inner condition 2')
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [5]:
x = 20
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [6]:
x = 120
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [8]:
HargaBuku = 20000
HargaMajalah = 5000
Uang = 2000
if Uang > HargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [11]:
HargaBuku = 20000
HargaMajalah = 5000
Uang = 2000
if Uang > HargaBuku:
    print("beli buku")
elif Uang > HargaMajalah:
    print('beli Majalah')
else:
    print("uang tidak cukup")

uang tidak cukup

In [13]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [15]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [16]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [18]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [19]:
x = 2
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [20]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [21]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [22]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [23]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [24]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [25]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [33]:
m=a if a>b else b

In [38]:
n = 5
while n>0:
    n -= 1
    print(n)

4
3
2
1
0

In [39]:
i=1
while i<6:
    print (i)
    i +=1

1
2
3
4
5

In [40]:
n = 5
while n>0:
    n -=1
    if n == 2:
        break
    print (n)
print('loop ended')

4
3
loop ended

In [41]:
n = 5
while n>0:
    n -=1
    if n == 2:
        continue
    print (n)
print('loop ended')

4
3
1
0
loop ended

In [42]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [43]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [51]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [52]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [56]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [57]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [58]:
for k in d:
    print(d[k])

1
2
3

In [59]:
for k in d.values():
    print(k)

1
2
3

In [60]:
for k, v in d.items(): 
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [61]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [62]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

In [64]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [65]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [66]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [70]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [71]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 54F
Temperaturnya adalah 12 derajat

In [72]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: jo
jo
Ketikan karakter: stop
stop